.card {
  margin: 0;
  padding: 0;
  max-width: 270px;
  list-style: none;
}

.card__element {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card__img {
  width: 270px;
  height: 151px;
  object-fit: contain;
  display: block;
}

.card__info {
  margin: 0;
  padding: 0 0 13px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  padding: 14px 0 0 0;
  width: 226px;
  height: 32px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__btn-save {
  margin: 0;
  padding: 0;
  background-image: url(../../images/like-icon-white.svg);
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: #202020;
  background-repeat: no-repeat;
  transition: opacity .7s linear;
}

.card__btn-save:hover {
  opacity: .8;
  cursor: pointer;
}

.card__btn-delete {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #202020;
  border: none;
  outline: none;
}

.card__btn-delete:hover {
  border-radius: 50px;
  background: url(../../images/delete-icon.svg) center #313131;
  background-repeat: no-repeat;
  opacity: .6;
  transition: opacity .5s linear;
}

.card__duration {
  margin: 0;
  padding: 7px 0 0;
  color: #8B8B8B;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #424242;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .card {
    max-width: 339px;
  }

  .card__img {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    max-width: 300px;
  }

  .card__img {
    width: 300px;
    height: 168px;
  }

  .card__title {
    font-size: 12px;
  }

  .card__duration {
    padding-top: 6px;
    font-size: 10px;
  }

}