.movies {
  margin: 0 auto;
  max-width: 1140px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies {
    max-width: 708px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies {
    max-width: 300px;
  }
}