.auth {
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  width: 396px;
}

.auth__link-logo {
  display: flex;
  transition: opacity .7s linear;
}

.auth__link-logo:hover {
  opacity: .6;
  cursor: pointer;
}

.auth__img {
  margin: 0;
  padding: 0;
  max-width: 38px;
  min-height: 38px;
}

.auth__form {
  margin: 0;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
}

.auth__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auth__inputs {
  margin: 0;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
}

.auth__item {
  margin: 0;
  padding: 0 0 6px 0;
}

.auth__text {
  margin: 0;
  padding: 0 0 5px 0;
  color: #8B8B8B;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__input {
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #202020;
  border: none;
  outline: none;
  color: #FFF;
  border-bottom: 1px solid #424242;
}

.auth__input_type_red {
  color: #EE3465;
}

.auth__input:focus {
  border-bottom: 1px solid #4285F4;
  font-weight: 500;
}

.auth__error {
  margin: 0;
  padding: 6px 0 0 0;
  color: #EE3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  min-height: 12px;
  line-height: normal;
  width: 396px;
  display: block;
  opacity: 1;
}

.auth__error_type_server {
  padding: 0 0 20px 0;
}

.auth__container {
  margin: 95px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.auth__container_type_login {
  margin: 164px 0 0;
}

.auth__btn {
  margin: 0 0 16px 0;
  padding: 0;
  border-radius: 3px;
  background: #4285F4;
  width: 100%;
  height: 45px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  transition: opacity .7s linear;
}

.auth__btn:hover {
  opacity: .8;
  cursor: pointer;
}

.auth__send-text {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.auth__send-link {
  margin: 0;
  padding: 0;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity .7s linear;
}

.auth__send-link:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .auth {
    padding-top: 232px;
  }
}

@media screen and (max-width: 480px) {
  .auth {
    padding-top: 56px;
    padding-bottom: 30px;
    align-items: center;
    width: 320px;
  }

  .auth__form {
    padding-top: 50px;
    align-items: center;
  }

  .auth__inputs {
    padding-top: 80px;
  }

  .auth__error {
    width: 260px;
  }

  .auth__container {
    margin-top: 183px;
  }

  .auth__container_type_login {
    margin-top: 252px;
  }

  .auth__btn {
    font-size: 12px;
    margin-bottom: 14px;
  }

  .auth__send-text {
    font-size: 12px;
  }

  .auth__send-link {
    font-size: 12px;
  }
}