.promo {
  margin: 0;
  padding: 0;
  background: #073042;
  box-sizing: border-box;
}

.promo__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1280px;
  width: 100%;
}

.promo__heading {
  margin: 0;
  padding: 50px 0 102px 70px;
  max-width: 626px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;
}

.promo__logo {
  margin: 0;
  padding: 0 70px 60px 488px;
  max-width: 722px;
}

@media screen and (max-width: 800px) {
  .promo__container {
    align-items: center;
  }

  .promo__heading {
    text-align: center;
    padding: 302px 0 0 0;
    max-width: 680px;
  }

  .promo__logo {
    max-width: 680px;
    padding: 141px 0 70px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 679px) {
  .promo__logo {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .promo__container {
    align-items: center;
  }

  .promo__heading {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
    padding: 183px 0 0 0;
    text-align: center;
  }

  .promo__logo {
    padding: 60px 0 40px 0;
    height: 230px;
    width: 320px;
    object-fit: cover;
  }
}