.page-not-found {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
}

.page-not-found__title {
  margin: 0;
  padding-top: 246px;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-not-found__text {
  margin: 0;
  padding: 5px 0 184px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-not-found__btn {
  padding: 0 0 60px 0;
  width: 42px;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: #202020;
  transition: opacity .7s linear;
}

.page-not-found__btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-not-found__title {
    padding-top: 407px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-not-found {
    width: 100%;
  }

  .page-not-found__title {
    padding-top: 329px;
    font-size: 80px;
  }

  .page-not-found__text {
    padding-top: 10px;
    padding-bottom: 284px;
    font-size: 12px;
  }

  .page-not-found__btn {
    padding-bottom: 30px;
    font-size: 12px;
  }
}