.saved-movies {
  margin: 0 auto;
  max-width: 1140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-movies__search-error {
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #a0a0a0;
}

.saved-movies__search-error_margin {
  margin-top: 20px;
}

@media screen and (max-width: 1035px) {
  .saved-movies {
    max-width: 980px;
  }
}

@media screen and (max-width: 800px) {
  .saved-movies {
    max-width: 708px;
  }
}

@media screen and (max-width: 480px) {
  .saved-movies {
    max-width: 300px;
  }
}