.project {
  margin: 0 auto;
  padding: 110px 0 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1140px;
  width: 100%;
}

.project__title {
  margin: 0;
  padding: 0 0 23px 0;
  width: 100%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid rgb(218, 218, 218);
  letter-spacing: -0.88px;
}

.project__container {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.project__container_type_timeline {
  gap: 0;
}

.project__info {
  margin: 0;
  padding: 70px 0 0 0;
  max-width: 550px;
  width: 100%;
}

.project__info-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.project__info-text {
  margin: 0;
  padding: 26px 0 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.project__time {
  margin: 0;
  padding: 110px 0 0 0;
}

.project__time-title {
  margin: 0;
  padding: 9px 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 200px;
}

.project__time-title_green {
  color: #000;
  background-color: #3DDC84;
  width: 228px;
}

.project__time-title_dark {
  color: #FFF;
  background-color: #303030;
  width: 912px;
}

.project__time-text {
  margin: 0;
  padding: 15px 0 0 0;
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 801px) and (max-width: 1140px) {
  .project__time-title_green {
    width: 180px;
  }

  .project__time-title_dark {
    width: 680px;
  }

  .project__container_type_timeline {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .project {
    padding: 90px 0 90px;
    max-width: 668px;
  }

  .project__container {
    gap: 30px;
  }

  .project__info {
    max-width: 319px;
  }

  .project__info-text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .project__time {
    padding-top: 93px;
  }

  .project__time-title_green {
    width: 140px;
  }

  .project__time-title_dark {
    width: 528px;
  }

  .project__container_type_timeline {
    gap: 0;
  }
}

@media screen and (max-width: 670px) {
  .project__time-title_dark {
    width: 440px;
  }
}

@media screen and (max-width: 550px) {
  .project__time-title_dark {
    width: 320px;
  }
}

@media screen and (max-width: 480px) {
  .project {
    padding: 71px 0 70px;
    max-width: 284px;
  }

  .project__title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .project__container {
    flex-direction: column;
    padding-top: 10px;
    gap: 0;
  }

  .project__container_type_timeline {
    flex-direction: row;
  }

  .project__info {
    width: 284px;
    padding-top: 56px;
  }

  .project__info-title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .project__info-text {
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .project__time {
    padding-top: 50px;
  }

  .project__time-title {
    font-size: 11px;
    padding: 12px 0;
  }

  .project__time-title_green {
    width: 100px;
  }

  .project__time-title_dark {
    width: 184px;
  }

  .project__time-text {
    font-size: 11px;
    line-height: normal;
    padding-top: 10px;
  }
}
