.techs {
  background: #272727;
}

.techs__container {
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1140px;
  width: 100%;
}

.techs__title {
  margin: 0;
  padding: 0 0 23px 0;
  width: 100%;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid rgb(218, 218, 218);
  letter-spacing: -0.88px;
}

.techs__content {
  margin: 0;
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.techs__title-info {
  margin: 0;
  padding: 0 0 26px 0;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  width: 600px;
}

.techs__text {
  margin: 0;
  padding: 0;
  width: 460px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  margin: 0;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.techs__list-elem {
  margin: 0;
  padding: 21px 0 22px 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  border-radius: 10px;
  background: #303030;
  width: 90px;
}

@media screen and (max-width: 800px) {
  .techs__container {
    padding: 91px 0;
    max-width: 668px;
  }

  .techs__content {
    padding-top: 80px;
  }

  .techs__title-info {
    padding-bottom: 21px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__list {
    padding-top: 83px;
  }

  .techs__list-elem {
    font-size: 12px;
    letter-spacing: -0.48px;
    width: 84px;
  }
}

@media screen and (max-width: 660px) {
  .techs__list {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .techs {
    background: #202020;
  }
  
  .techs__container {
    padding: 71px 0;
    max-width: 284px;
  }

  .techs__title {
    padding-bottom: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
    border-bottom: 1px solid #000;
  }

  .techs__content {
    padding-top: 60px;
  }

  .techs__title-info {
    padding-bottom: 24px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    width: 292px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    width: 292px;
  }

  .techs__list-elem {
    padding-top: 20px;
    width: 84px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}